html {
    font-family: "Montserrat";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
}

.backgroundTealGreen{
    background: #02A28F;
    color: #ffffff;
    display: grid;
    font-weight: 700;
}



#textHeader{
    font-size: 2.5rem ;
    margin: 1rem 0 1rem 9.5rem;
}

.container {
    padding: 3.5rem 9.5rem; 
    
    display: flex;
}

p{
 font-size: .5rem;
}

h2{
    font-size: 1rem;
    font-weight: 700;
}

.post{
    box-shadow: 0 .6rem .6rem 0 #0000001A;
    border-radius: .6rem;
    gap: 1rem;
    padding: 1rem 1.5rem;
    margin: 0;
}

.cardsPostArticle{
    box-shadow: 0 .6rem .6rem 0 #0000001A;
    border-radius: .6rem;
    gap: 1rem;
    padding: 1rem 1.5rem;
}
/*.cardsPostArticle > img {
width: 132;
height: 70;
top: 201px;
left: 937px;
border-radius: 10px;

} */

.banner{
    width: 50%;
    margin-right: 1.5rem;
}

.cardsPostArticle{
    display: flex;
    justify-content: space-around;
}
.cardsPostArticle > img{
    object-fit: cover;
    width: 50%;    
}

.recentPost{
    width: 46.5vw;
    height: 3.5vh;
    padding: 1rem 1.5rem ;
    display: flex;   
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1.5rem ;
   
}

.recentPost > h1{
    margin: 0;
}
.recentPost > a {
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;    
    text-decoration-thickness: Auto;
}

.cardRecentPost{
width: 22.5vw;
height: 25vh;
display: grid;
grid-template-columns: auto;


}

.Copyright{
    justify-content: center ;
    padding: 1rem 0 ;
}